* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #acacff;

}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(58, 0, 112);
}

h2 {
    font-size: 1.5em;
    color: rgb(58, 0, 112);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* opcional, controla o limite */
    height: 0;
    padding-bottom: 56.25%; /* proporção 16:9 */
    margin: 0 auto; /* centraliza */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}